body {
    font-family: Arial;
}

.cookie-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #000;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}

.cookie-box button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
